.list
{
    display:flex;
    list-style:none; 
    background-color: #2b632d;
    padding:1rem
}
.list li
{
    padding-left: 5rem;
    font-family:'Audiowide';
    font-size:3rem;    
    
}
.hamburger
{
    display:none;
    position:fixed;
    top:0;
    right:0;
}

@media(max-width:768px) 
{
  .list{
      display:none;
    }
   .show{
    display:flex;
    height:18rem;
    flex-direction:column;
    text-align:center
 }
 .hide{
    display:none;
    height:18rem;
    flex-direction:column;
    text-align:center
 }
   .list li{
       padding-top:2rem

   }
   .hamburger
{
    display:inline;
    position:absolute;
    top:0;
    right:0;
}

}